---
layout: base
---

{% include "partials/page-header.njk" %}

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

{% set ctaContent = primaryCTA %} 
{% include "partials/cta.njk" %}


<div class="region">
  <div class="wrapper">
    <h2>{{ blog.title }}</h2>
    {% if blog.intro %}
    <p>{{ blog.intro }}</p>
    {% endif %}
  </div>

  <div class="wrapper grid mt-l-xl" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %} 
    {% for post in postslist.slice(0, 4) %}
    <article class="card">
    {% if post.data.image %}
    {% image post.data.image, "", "card__hero", post.data.alt, "lazy", "" %}
    {% else %}
    {% image "https://source.unsplash.com/collection/2195859/571x250/?sig={{ range(0, 99) | random }}/daily", "object-fit-cover", "card__hero", "Random abstract image to fill the card.", "lazy", "" %}
    {% endif %}
      <div class="card__content flow">
        <h3>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h3>
        {% set definedDate = post.data.date %} {% include "partials/date.njk" %}
        <p>{{ post.data.description }}</p>
      </div>
    </article>
    {% endfor %}
  </div>
</div>

{% set ctaContent = cta %} 
{% include "partials/cta.njk" %}