<article class="[ featured-project ] [ dot-shadow panel ] [ bg-light-glare ]">
    <div class="[ wrapper ] [ flow ]">
      <div class="[ featured-project__inner ] [ flow ]">
        <div class="[ featured-project__intro ] [ flow flow-space-300 ]">
          <h2
            class="[ featured-project__heading ] [ headline ] [ color-quinary-shade lg:measure-micro ]"
            data-highlight="dark"
          >
            {{ featuredProjects.title }}
          </h2>
          <p class="[ featured-project__summary ] [ measure-compact ]">
            {{ featuredProjects.summary }}
          </p>
        </div>
        {% for item in collections.featuredProjects %}
        <a
          href="{{ item.url }}"
          aria-label="See {{ item.data.title }}"
          class="[ featured-project__item ] [ frame ]"
          data-frame="quaternary"
        >
          <img
            src="{{ item.data.hero.image }}"
            alt="{{ item.data.hero.imageAlt }}"
            loading="lazy"
            class="radius"
          />
        </a>
        {% endfor %}
      </div>
      <div class="[ featured-project__action ] [ flow-space-700 ]">
        <a href="/projects/" class="button">See more</a>
      </div>
    </div>
</article>